 <div class="masonry-container" masonry="{ isFitWidth: true }">
    <div class="masonry-brick" ng-repeat="img in images">
        <a ng-click="thumbnail_click($index)">
          <img id="{{'thumbnail_id_' + $index}}" ng-src="{{img.square_thumb}}" />
          <img style="display: none;" ng-src="{{img.msrc}}" />
          <div ng-if="imageIdToUserListMap[$index].length > 0" class="overlay">
            <span ng-repeat="user in imageIdToUserListMap[$index]">{{user.nickname}}</span>
          </div>              
        </a>        
    </div>
</div>
