<div>
 <div class="masonry-container" masonry="{ isFitWidth: true }">
    <div class="masonry-brick" ng-repeat="img in images">
        <a ng-click="thumbnail_click($index)">
          <img id="{{'thumbnail_id_' + $index}}" ng-src="{{img.square_thumb}}" />
          <img style="display: none;" ng-src="{{img.msrc}}" />
          <div ng-if="imageIdToUserListMap[$index].length > 0" class="overlay">
            <span class="icon-eye"></span>
            <span ng-repeat="user in imageIdToUserListMap[$index]">{{user.nickname}}</span>
          </div>              
        </a>        
    </div>
</div>
<div class="outer_empty_container" ng-if="images.length == 0">
      <div class="empty_container">
        <h1>No Photos</h1>
        <h3>
        Upload Photos using
        <span class="icon-upload"></span>
        Upload buttons below.
        </h3>
      </div>
</div>
</div>