<div>
    <!-- upload controls here -->
    <div class="row" style="margin-top: 10px;">

        
        <!-- upload panel 1, resized -->
        <div class="col-xs-12 col-sm-6" id="upload-frame-resize">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                             <div class="btn-group">
                                <label class="btn btn-primary" ng-model="resize_mode" uib-btn-radio="'resize'">Resize</label>
                                <label class="btn btn-primary" ng-model="resize_mode" uib-btn-radio="'fullsize'">Full Size</label>
                             </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input id="uploader" type="hidden" name="picture" role="uploadcare-uploader" 
                                   data-public-key="071cc18cd47faf518850"
                                   data-multiple
                                   data-images-only
                                   data-image-shrink="1024x768"
                                   data-widget-1
                            />                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="display: none;">
        <div id="cloudinary_unsigned_upload_form"></div>
        <div id="cloudinary_drop_zone">CLOUDINARY DROP ZONE</div>
    </div>        
</div>
