<!DOCTYPE html>
<html lang="en" ng-app="conferenceModule">
<head>
<title>Photozzap</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- google fonts -->
<link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One|Raleway:700' rel='stylesheet' type='text/css'>
<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="/letter_p.png"/>
<!-- css files -->
<link rel="stylesheet" media="screen" href="conference-all.css">

<style type="text/css">
#loading-screen {
    z-index: 5; 
    position: fixed;
    left: 0%;
    top: 0%;    
    width: 100%;
    height: 100%;
    font-size: 32px; 
    color: #444444;
    background-color: #FFFFFF;
}
#loading-screen .loading-screen-content {
    margin-top: 30%;
    text-align: center;
}
#loading-screen .loading-screen-content p {
    margin-top: 20px;
}
#photozzap-title {
    font-size: 52px;
}
</style>

</head>
<body ng-controller="PhotozzapCtrl" ng-init="init('https://photozzap-test.firebaseio.com/', 'test-20150328-3', 'test')">
<script charset="utf-8" defer src="conference-all.min.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-46712284-2', 'photozzap.com');
  ga('send', 'pageview');
</script>


<script type="text/ng-template" id="photos-thumbnails.html">
<div class="col-md-12">
    <ul rn-carousel rn-carousel-buffered rn-carousel-control rn-carousel-indicator rn-carousel-index="shared_data.thumbnail_group_index" class="ng-cloak"
    ng-if="sorted_images.length > 0">
        <li ng-repeat="group in thumbnail_groups track by group.id_list">
            <div class="thumbnail-container-tight" ng-style="{width: thumbnails_width + '%'}" ng-repeat="image in group.objs track by image.id">
                <div ng-if="image.padding == undefined">
                    <a class="thumbnail-tight" ng-click="show_image(image.id)">
                      <img ng-src="{{cloudinary_thumbnail_url(image.id)}}" ng-class="{highlight: conference_user_object.viewing_image_id == image.id}" />
                    </a>
                </div>
                <div ng-if="image.padding != undefined">
                    <img ng-src="{{cloudinary_thumbnail_url('static_assets/grey_background')}}">
                </div>
            </div>
        </li>
    </ul>
    <div class="tab_outer_empty_container" ng-if="sorted_images.length == 0">
        <div class="empty_container">
            <div class="row empty_container_inner">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h2>No Photos</h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h3>Upload Photos using <span class="icon-upload"></span> Upload tab below.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/ng-template" id="users-thumbnails.html">
<div class="col-md-12">
    <ul rn-carousel rn-carousel-buffered rn-carousel-control rn-carousel-indicator  rn-carousel-index="thumbnail_group_index" class="ng-cloak" ng-if="sorted_users.length > 0">
        <li ng-repeat="group in thumbnail_groups track by group.id_list">
            <div class="thumbnail-container-tight" ng-style="{width: thumbnails_width + '%'}" ng-repeat="user in group.objs track by user.id">
                <div ng-if="user.padding == undefined">
                    <a ng-if="user.viewing_image_id != undefined" class="thumbnail-tight" ng-click="show_image(user.viewing_image_id)">
                      <img ng-src="{{cloudinary_thumbnail_short_url(user.viewing_image_id)}}">
                       <br/>
                       <span ng-if="user.page_visible == false" class="icon-eye-blocked"></span>
                       <span ng-if="user.page_visible == true" class="icon-eye"></span>
                      {{user.nickname}} 
                    </a>
                </div>
                <div ng-if="user.padding != undefined">
                    <img ng-src="{{cloudinary_thumbnail_short_url('static_assets/grey_background')}}">
                </div>                
            </div>
        </li>        
    </ul>
    <div class="tab_outer_empty_container" ng-if="sorted_users.length == 0">
        <div class="empty_container">
            <div class="row empty_container_inner">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h2>No Photos</h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h3>Upload Photos to see users connected.</h3>
                </div>
            </div>
        </div>
    </div>    
</div>
</script>

<script type="text/ng-template" id="follow-controls.html">
<div ng-controller="FollowCtrl" class="col-xs-9 col-sm-9 col-md-9" style="text-align: right;">
    <a ng-click="look_here()" tooltip-placement="bottom" tooltip="Make everyone look at this photo"><span class="icon-eye"></span> Look Here</a> |
    <a ng-click="follow_me()" tooltip-placement="bottom" tooltip="Make everyone follow you as you look at photos"><span class="icon-users2"></span> Follow Me</a>
</div>
</script>


<script type="text/ng-template" id="upload.html">
    <div>
        <!-- upload controls here -->
        <div class="row" style="margin-top: 10px;">
            <!-- upload panel 1, resized -->
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <b><span class="icon-contract"></span> Resize to 1024x768</b>
                                <br/>(faster upload, lower quality)
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <input type="hidden" name="picture" role="uploadcare-uploader" 
                                       data-public-key="071cc18cd47faf518850"
                                       data-multiple
                                       data-images-only
                                       data-image-shrink="1024x768"
                                       data-widget-1
                                />                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- upload panel 2, full size -->            
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <b><span class="icon-expand"></span> Upload full picture</b>
                                <br/>(slower upload, higher quality)
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <input type="hidden" name="picture" role="uploadcare-uploader" 
                                data-public-key="071cc18cd47faf518850"
                                data-multiple
                                data-images-only
                                data-widget-2
                                />               
                            </div>
                        </div>                
                    </div>
                </div>
            </div>            
        </div>
        <div class="row" style="display: none;">
            <div id="cloudinary_unsigned_upload_form"></div>
            <div id="cloudinary_drop_zone">CLOUDINARY DROP ZONE</div>
        </div>        
    </div>
</script>


<script type="text/ng-template" id="nick_change_modal.html">
    <div class="modal-header">
        <h3>Change Nickname</h3>
    </div>
    <div class="modal-body">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        <form name="form.form" class="form-horizontal" role="form">
            <div class="form-group has-feedback" ng-class="{'has-error': form.form.nickname.$invalid, 'has-success': form.form.nickname.$valid}">
                <label class="control-label col-sm-4" for="nickname">Nickname
                    <small ng-show="form.form.nickname.$error.minlength"><br/>Min 3 characters</small>
                    <small ng-show="form.form.nickname.$error.maxlength"><br/>Max 30 characters</small>
                </label>
                <div class="col-sm-8">
                <input type="text" name="nickname" class="form-control" id="nickname" 
                  ng-model="temp_data.new_nickname" 
                  ng-minlength="3"
                  ng-maxlength="30"
                  placeholder="Enter your nickname" required>
                <span class="form-control-feedback" ng-class="{'icon-checkmark': form.form.nickname.$valid, 'icon-close': form.form.nickname.$invalid}" ></span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-lg" ng-click="change()"  ng-disabled="form.form.$invalid">
            <span class="icon-checkmark"></span> OK</button>
        <button class="btn btn-default btn-lg" ng-click="cancel()">
            <span class="icon-close"></span> Cancel</button>
    </div>
</script>  



<div id="loading-screen" ng-hide="logged_in_and_ready && conference.status != 'closed'">
    <div class="loading-screen-content">
        <span id="photozzap-title">Photozzap</span>
        <div ng-if="conference.status != 'closed'">
            <img src="/preloader.gif"/>
        </div>
        <p id="connection-status-text" ng-if="conference.status == 'closed'" ng-cloak class="ng-cloak">
            Conference {{conference.status}}
        </p>
    </div>
</div>

<div id="main_image" ng-show="logged_in_and_ready && conference.status != 'closed'" ng-cloak class="ng-cloak">
    <div class="photo-counter" ng-show="show_photo_counter">
        {{global_data.photo_index + 1}}/{{sorted_images.length}}
    </div>
    <div id="displayed_image">
        <ul rn-carousel rn-carousel-buffered rn-carousel-control rn-carousel-index="global_data.photo_index" class="ng-cloak"
          ng-style="{'width': window_dimensions.width,
                    'height': window_dimensions.height}"
            ng-if="sorted_images.length > 0">
            <li class="image_layer_container" ng-repeat="image in sorted_images track by image.id">
                <div class="image_layer image_layer_top"
                ng-if="global_data.photo_state_by_id[image.id].photo_hires_url != undefined"
                ng-style="{'background-image': 'url(' + global_data.photo_state_by_id[image.id].photo_hires_url + ')'}">
                </div>
                <div class="image_layer image_layer_bottom"
                ng-style="{'background-image': 'url(' + global_data.photo_state_by_id[image.id].photo_url + ')'}">
                </div>                
            </li>        
        </ul>
        <div class="outer_empty_container" ng-if="sorted_images.length == 0" 
             ng-style="{'width': window_dimensions.width,
                       'height': window_dimensions.height}">
            <div class="empty_container">
                <h1>No Photos</h1>
                <h3>Upload Photos using <span class="icon-upload"></span> Upload tab below.</h3>
            </div>
        </div>            
    </div>
</div> <!-- main_image -->

<div class="container-fluid" ng-show="logged_in_and_ready && conference.status != 'closed'" ng-cloak class="ng-cloak" style="margin-top: 15px; margin-bottom: 20px;">
    <div class="row">
        <div id="photo-thumbnails" class="col-xs-12 col-sm-12 col-md-6">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <span class="icon-image"></span> Photos
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" style="text-align: right;">
                    <a ng-click="toggle_fullscreen()" ng-show="display_controls" tooltip-placement="bottom" tooltip="Show photo in fullscreen"><span class="icon-expand"></span> Full Screen Photo</a>
                    <a ng-click="toggle_fullscreen()" ng-show="! display_controls" tooltip-placement="bottom" tooltip="Show photo smaller to see thumbnails and users"><span class="icon-contract"></span> Small Photo</a>
                </div>
            </div>
            <div class="row">
                <photothumbnails/>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <span class="icon-users3"></span> Users
                </div>
                <follow/>
            </div>        
            <div class="row">
                <usersthumbnails/>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <tabset>
                <tab ng-controller="ChatCtrl">
                    <tab-heading>
                        <span class="icon-bubble"></span> Chat
                    </tab-heading>

                    <div class="row comment-area">

                        <div class="col-md-12" ng-repeat="comment_page in comment_pages | limitTo:-display_num_pages track by comment_page.id_list">
                            <div ng-if="$first" class="row">
                                <div class="col-xs-6 col-sm-8 col-md-9">
                                    <div class="panel panel-default time-header-large">
                                        <span class="icon-clock"></span>
                                        <span am-time-ago="comment_page.timestamp"></span>
                                    </div>
                                </div>   
                                <div class="col-xs-6 col-sm-4 col-md-3">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 comment-hold-button-container" style="padding-right: 2px;">
                                            <button class="btn btn-default" ng-click="show_more()" ng-show="comment_pages.length > display_num_pages">
                                                Show Earlier
                                            </button>
                                            <button class="btn btn-default" ng-hide="comment_pages.length > display_num_pages" disabled="disabled">
                                                Showing All
                                            </button>                                            
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 comment-hold-button-container" style="padding-left: 2px;">
                                            <button class="btn btn-default" ng-click="show_latest_only()" ng-show="display_num_pages > 1">
                                                Latest Only
                                            </button>
                                            <button class="btn btn-default" ng-hide="display_num_pages > 1"
                                            disabled="disabled">
                                                Latest
                                            </button>                                            
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                            <div ng-if="! $first" class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default time-header-large">
                                        <span class="icon-clock"></span>
                                        <span am-time-ago="comment_page.timestamp"></span>
                                    </div>
                                </div>                            
                            </div>                            
                            <div class="comment-columns">
                                <div class="panel panel-default comment-group" ng-repeat="comment_group in comment_page.objs track by comment_group.id_list">
                                    <div class="media panel-body">
                                      <a class="pull-left" ng-click="show_image(comment_group.image_id)">
                                        <img class="media-object comment-thumbnail" ng-src="{{cloudinary_thumbnail_url(comment_group.image_id)}}">
                                      </a>
                                      <div class="media-body">
                                        <div class="row">
                                            <div class="col-md-12 time-header"><span class="icon-clock"></span>
                                            <span am-time-ago="comment_group.timestamp"></span></div>
                                        </div>
                                        <div class="row comment" ng-repeat="comment in comment_group.comments track by comment.id">
                                            <div ng-if="comment.display_nickname" class="col-md-12">
                                                <span ng-if="comment.display_nickname"><b>{{comment.nickname}}:</b>&nbsp;</span>
                                                <span ng-if="! comment.display_nickname">&nbsp;&nbsp;</span>
                                                {{comment.text | limitTo:160}}
                                            </div>
                                            <div ng-if="! comment.display_nickname" class="col-md-11 col-md-offset-1">
                                                {{comment.text | limitTo:160}}
                                            </div>                                            
                                        </div>
                                      </div>
                                    </div>                        
                                </div>                        
                            </div>
                        </div>
           
                    </div>
                    
                    <div class="row" ng-if="comment_pages.length == 0">
                        <div class="col-md-12">
                            <div class="tab_outer_empty_container">
                                <div class="empty_container">
                                    <div class="row empty_container_inner">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <h2>No Comments</h2>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <h3 ng-if="sorted_images.length == 0"><span class="icon-upload"></span> Upload Photos to post comments.</h3>
                                            <h3 ng-if="sorted_images.length > 0">Type comment below and click <span class="icon-bubble"></span> Send.</h3>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>                        
                         </div> 
                    </div>
                    
                    <div class="row" ng-if="sorted_images.length > 0">
                        <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                            <form class="form-horizontal" role="form" ng-submit="submit_comment()">
                                <div class="form-group col-xs-11 col-sm-11 col-md-10">
                                    <input ng-model="comment_data.text" type="text" class="form-control" id="comment" placeholder="Enter Message">
                                </div>
                                <div class="form-group col-xs-1 col-sm-1 col-md-2">
                                    <button type="submit" class="btn btn-default" style="margin-left: 5px;">
                                        <span class="icon-bubble"></span>
                                        Send
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </tab>    
                
                <tab>
                    <tab-heading>
                        <span class="icon-upload"></span> Upload
                    </tab-heading>
                    <upload/>
                </tab>                
                
                <tab>
                    <tab-heading>
                        <span class="icon-cog"></span> Options
                    </tab-heading>
                    <div class="row">
                        <div class="col-sm-4 col-md-2">
                            <h3>Views</h3>
                            <b>{{conference.views}}</b> views
                        </div>
                        <div class="col-sm-5 col-md-4">
                            <h3>Change Nickname</h3>
                            You are logged in as <b>{{conference_user_object.nickname}}</b>&nbsp;&nbsp;
                            <button class="btn btn-default" ng-click="open_nick_change_modal()">
                                Change Nickname
                            </button>                                
                        </div>
                        <div class="col-sm-4 col-md-4" ng-show="login_obj.user.uid == conference.owner_uid">
                            <h3>Close Conference</h3>
                            Remove all photos, disconnect all users.
                            <button class="btn btn-default" ng-click="close_conference()">
                                Close
                            </button>                            
                        </div>                        
                        <div class="col-sm-4 col-md-2">
                            <h3>Logout</h3>
                            <button class="btn btn-default" ng-click="logout()">
                                Logout
                            </button>                            
                        </div>
                    </div>
                </tab> 
            </tabset>
        </div>
    </div>
    
    <div class="row" ng-controller="DownloadCtrl" ng-if="sorted_images.length > 0">
        <div class="col-md-12" style="text-align: center;">
            <a ng-href="{{current_image_download_url}}" target="_blank"><span class="icon-file-download"></span> Download This Photo</a> 
            <span class="hidden-xs">
            | <span ng-show="awaiting_download" style="font-weight: italic;">Please Wait...</span>
            <a ng-hide="awaiting_download" ng-click="download_all_photos()"><span class="icon-folder-download"></span> Download All Photos (zip)</a>
            </span>
        </div>
    </div>

</div>

<!-- notifications area -->
<div class="notifications-container" ng-show="sorted_notifications.length > 0">
    <p class="notification-text">
        <span class="notification-item" ng-repeat="notification in sorted_notifications track by notification.id">
            <span ng-switch on="notification.type">
                <span ng-switch-when="connected"><span class="icon-user-plus"></span> {{notification.nickname}}</span>
                <span ng-switch-when="disconnected"><span class="icon-user-minus"></span> {{notification.nickname}}</span>
                <span ng-switch-when="away"><span class="icon-eye-blocked"></span> {{notification.nickname}}</span>
                <span ng-switch-when="back"><span class="icon-eye"></span> {{notification.nickname}}</span>
                <span ng-switch-when="viewing"><span class="icon-eye"></span> {{notification.nickname}} <span class="icon-image"></span> {{photo_index_from_id(notification.image_id)}}</span>
                <span ng-switch-when="comment"><span class="icon-bubble"></span> {{notification.nickname}} {{notification.text}}</span>
                <span ng-switch-when="default_nickname"><span class="icon-info"></span>
                You are connected as {{conference_user_object.nickname}} 
                <a ng-click="open_nick_change_modal()"> - Change Nickname</a></span>
                <span ng-switch-when="look_here"><span class="icon-info"></span>
                {{notification.nickname}} is showing you <span class="icon-image"></span> {{photo_index_from_id(notification.image_id)}}
                </span>
                <span ng-switch-when="follow_me"><span class="icon-info"></span>
                You are now following {{notification.nickname}}
                </span>
                
            </span>
            <span class="separator"></span>            
        </span>
    </p>
</div>

<iframe id="download_frame" style="display:none"></iframe>
</body>
</html>