a, a:hover {
    color: #333333;
}

#main_image {
    height: 100%;
    overflow: hidden;
	text-align: center;
	z-index:-1;
}

.action-icon {
    margin-right: 4px;
}

.comment-list {
    font-size: 20px;
}

.comment-nick-heading {
    font-size: 22px;
    margin: 0px;
}

.comment-timestamp {
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
}

.comment-entry {
    margin-top: 5px;
    margin-bottom: 10px;
}

.comment-list .media-body h5 {
   margin-bottom: 2px;
}

.comment-list a {
    margin-left: 30px;
}

#top-navbar {
	position: fixed;
	top: 10px;
	left: 5%;
	width: 90%;
	z-index:4;	
}

.action-sidebar {
    border-radius:10px;
    z-index:2;
   
    cursor: pointer;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.15); 
}

.action-sidebar-expanded {
    cursor: auto;
}

.action-sidebar-expanded .action-sidebar-header  br{
    display: none;
}

.action-sidebar .action-sidebar-header {
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 36px;
    color: #FFFFFF;
}

.action-sidebar-header-centered {
    position: relative;
    top: 25%;
}

.action-sidebar-header img {
    height: auto;
    width: 30%;
}

.action-sidebar-expanded .action-sidebar-header img {
    height: auto;
    width: 15%;
}

.image-preview {
    position: relative; 
    margin-bottom: 10px; 
    margin-right: 15px; 
    margin-left: 10px;
    display: none;
}

.notification-thumbnail {
    width: 100%;
    border-radius:10px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 2px;   
 }

.gallery-sidebar-expanded .notification-thumbnail {
    height: 200px; 
    width: auto;
}

.image-preview .notification-overlay {
    position:absolute; 
    left:0px; 
    bottom:0px; 
    width: 100%; 

    border-radius:8px;
    margin-left: 2px;
    margin-bottom: 2px;
    
    font-size: 18px;
    
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 27%, rgba(255,255,255,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(27%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 27%,rgba(255,255,255,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 27%,rgba(255,255,255,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 27%,rgba(255,255,255,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 27%,rgba(255,255,255,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b3ffffff',GradientType=0 ); /* IE6-9 */

}

.sidebar-transitions {
    -webkit-transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.gallery-sidebar-default {
	position: fixed;
	top: 10%;
	left: 42%;
	width: 15%;
	height: 15%;
}

.gallery-sidebar-expanded {
    top: 10%;
    left: 5%;
    height: 70%;
    width: 90%;
}

.chat-sidebar-default {
    position: fixed;
    bottom: 10%;
    left: 42%;
    height: 15%;
    width: 15%;
}

.chat-sidebar-expanded {
    bottom: 1%;
    left: 25%;
    height: 40%;
    width: 55%;
}

.chat-sidebar-alternate {
    bottom: 2%;
    left: 42%;
    height: 15%;
    width: 15%;
}

.users-sidebar-default {
    position: fixed;
    top: 42%;
    left: 10%;
    height: 15%;
    width: 15%;
}

.users-sidebar-expanded {
    top: 15%;
    left: 5%;
    height: 80%;
    width: 30%;
}

.users-sidebar-alternate {
    top: 83%;
    left: 20%;
    height: 15%;
    width: 15%;
}

.history-sidebar-default {
    position: fixed;
    top: 42%;
    right: 10%;
    height: 15%;
    width: 15%;
}

.history-sidebar-expanded {
    top: 15%;
    right: 5%;
    height: 80%;
    width: 30%;
}

.history-sidebar-alternate {
    top: 83%;
    right: 20%;
    height: 15%;
    width: 15%;
}

#image-list {
    margin: 10px;
}


#history-sidebar-overlay-gradient div {
    margin-top: 30px;
    text-align: center;
    color: #555555;    
}

#notification-area {
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 30%;
    height: 28%;
    z-index: 1;
}

#chat-sidebar-content, .comment-submit-area {
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.50); 
}
.comment-submit-area {
    margin-top: 0px;
    margin-bottom: 5px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;    
    border-top-left-radius:0px;
    border-top-right-radius:0px;    
}

body {
	background: #000000;
    font-family: 'Pathway Gothic One', sans-serif;
}
