@media all and (max-width: 640px) and (orientation : landscape), all and (max-height: 400px) and (orientation : landscape) {

    /* reduce icon size */
    .action-sidebar-header img {
        height: auto;
        width: 45%;
    }

    .prev-sidebar-icon {
        width: 12%;
        padding-bottom: 12%;
    }   

    .next-sidebar-icon {
        width: 12%;
        padding-bottom: 12%;
    }   
    
    .menu-sidebar-icon {
        width: 12%;
        padding-bottom: 12%;
    }        
    
   
    /* top sidebar */
    .top-sidebar-icon {
        left: 20%;
        width: 60%;
    }    

    .bottom-sidebar-icon {
        left: 15%;
        width: 70%;
    }        
    
    .top-sidebar-icon-other-sidebars-expanded, .top-sidebar-icon-hidden {
        left: -30%;
    }        
    
    .top-sidebar-icon .action-sidebar-header {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    /* toolbar setup */

    .top-sidebar-icon .toolbar .tool-large {
        display: none;
    }    
    
    .action-sidebar .action-sidebar-header {
        font-size: 24px;
    }
    
    .gallery-sidebar-expanded .action-sidebar-header img {
        width: 8%;
        height: auto;
    }    
    
    .notification-preview { 
        width: 40%;
    }
    
    .chat-sidebar-expanded .action-sidebar-header img {
        width: 8%;
        height: auto;
    }        
    
    
}