#top-navbar {
    display: none;
}

.gallery-sidebar-default, .chat-sidebar-default, .users-sidebar-default, .history-sidebar-default {
    top: 84%;
    width: 20%;
    height: 15%;
}

.users-sidebar-default {
    left: 4%;
}

.gallery-sidebar-default {
    left: 28%;
}

.chat-sidebar-default {
    left: 52%;
}

.history-sidebar-default {
    left: 76%;
}

.gallery-sidebar-expanded, .chat-sidebar-expanded, .users-sidebar-expanded, .history-sidebar-expanded {
    top: 2%;
    left: 5%;
    width: 94%;
    height: 78%;
}

.action-sidebar-header-centered {
    position: relative;
    top: 5%;
}

.action-sidebar-header img {
    height: auto;
    width: 50%;
}

.gallery-sidebar-expanded .notification-thumbnail {
    height: 85px;
    width: auto;
}

.action-sidebar .action-sidebar-header {
    font-size: 26px;
}

.thumbnails > li {
  float: left;
  margin-bottom: 5px;
  margin-left: 5px;
}

.image-preview .notification-overlay {
    font-size: 14px;
}

.notification-preview { 
    margin-bottom: 5px; 
    margin-right: 5px; 
    bottom: 0px;
    right: 0px;
    width: 60%;
}

.comment-nick-heading {
    display: inline;
}

.comment-graphic-heading {
    margin-left: 2px;
}

.comment-entry .comment-text {
    margin-top: 0px;
    margin-left: 35px;
    width: 90%;
}

.comment-submit-area img {
    display: none;
}

.comment-submit-area input {
    width: 60%;
}

.status-sidebar-default {
	top: 2%;
	left: 5%;
	width: 90%;
}

.status-sidebar-header img {
    height: auto;
    width: 15%;
}

.status-sidebar-other-bars-open {
    opacity: 0;
    top: -100%;
}

.action-sidebar {
    background-color: rgba(255, 255, 255, 0.20); 
}

.action-siderbar-inactive-selected {
    opacity: 0.4;
}
