#top-navbar {
    display: none;
}

#users-sidebar, #gallery-sidebar, #chat-sidebar, #history-sidebar {
    top: 2%;
    width: 10%;
    height: 10%;
}

#users-sidebar {
    left: 5%;
}

#gallery-sidebar {
    left: 20%;
}

#chat-sidebar {
    left: 40%;
}

#history-sidebar {
    left: 60%;
}

