@media all and (max-width: 640px) and (orientation : landscape), all and (max-height: 400px) and (orientation : landscape) {

	/* reduce icon size */
    .action-sidebar-header img {
        height: auto;
        width: 45%;
    }

	/* top sidebar */
	.top-sidebar-icon {
		position: fixed;
		top: 2%;
		left: 0%;
		right: auto;
		width: 15%;
		height: 96%;
		border-top-right-radius: 10px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}	
	
    .top-sidebar-icon-other-sidebars-expanded, .top-sidebar-icon-hidden {
        left: -30%;
    }    	
	
	.top-sidebar-icon .action-sidebar-header {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	/* toolbar setup */
	.top-sidebar-icon .toolbar .tool {
		display: block;
		width: 100%;
	}

	.top-sidebar-icon .toolbar .tool-large {
		display: none;
	}	
	
    .action-sidebar .action-sidebar-header {
        font-size: 24px;
	}
	
	.gallery-sidebar-expanded .action-sidebar-header img {
		width: 8%;
		height: auto;
	}	
	
	/* common between history, users, chat sidebars */
	.history-sidebar-icon, .chat-sidebar-icon, .users-sidebar-icon {
		bottom: auto;
		left: auto;
		right: 0%;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 10px;
		width: 15%;
	}	

	/* history sidebar */
	.history-sidebar-icon {
		top: 5%;
	}
	
    .history-sidebar-icon-other-sidebars-expanded, .history-sidebar-icon-hidden, .chat-sidebar-icon-other-sidebars-expanded, .chat-sidebar-icon-hidden, .users-sidebar-icon-other-sidebars-expanded, .users-sidebar-icon-hidden  {
        right: -30%;
    }        	
	
    .notification-preview { 
        width: 40%;
    }
	
	/* chat sidebar */
	.chat-sidebar-icon {
		top: 37%;
	}
	
	.chat-sidebar-expanded .action-sidebar-header img {
		width: 8%;
		height: auto;
	}		
	
	/* users sidebar */
	.users-sidebar-icon {
		top: 68%;
	}
	
	
    
}